body{
    background-color: darkslategray;
}
h1{
    text-align: center;
    color:darkred;
    border: double;
    margin: auto;
}

.container {
    border: 15px solid darkgray;
    width: 640px;
    height: 640px;
    margin:0 auto;
}
.black{
    width:80px;
    height:80px;
    background-color:brown;
    float:left;

}

.white{
    width:80px;
    height:80px;
    background-color:navajowhite;
    float:left;
}
